<!DOCTYPE html>
<html>
<!--Ansvarlig: Patrick-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<hr>
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="item">
                    <h3>About</h3>
                    <ul>
                        <p class="text-justify">We are a young team of 4 developers with a passion for coding and thinking big. Our team believes that we can give our customers a prime experience and to turn your project into reality!</p>
                    </ul>
                </div>
                <div class="item">
                    <h3>Code Used</h3>
                    <ul class="footer-links">
                        <li><a href="https://www.w3schools.com/html/" target="_blank">HTML</a></li>
                        <li><a href="https://www.w3schools.com/java/" target="_blank">Java</a></li>
                        <li><a href="https://www.w3schools.com/css/" target="_blank">CSS</a></li>
                        <a href="https://codepen.io/scanfcode/pen/MEZPNd" target="_blank">Templates</a></li>
                    </ul>
                </div>
                <div class="item text">
                    <h3>Contact</h3>
                    <ul class="footer-links">
                        <li><a href="mailto: iwishdatabois@gmail.com">Databois@gmail.com</a></li>
                        <li><p>Phone: +45 12345678</p></li>
                        <li><p></p></li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="copyright">Databois © 2021</p>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>