<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"><head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Project Creation page</h1>
<p th:text="${session.name}" th:unless="${session == null}">[...]</p>
<p th:text="${session.week_duration}" th:unless="${session == null}">[...]</p>
<div>
    <form th:action="@{/makesubtask}" method="POST">
        <label for="sub_name">Subtask name:</label>
        <input type="text" id="sub_name" name="task_name" size="20">
<!--        <select >-->
            <input name="employees" id="sub_emp" type="checkbox" th:each="i: ${session.roles}" th:value="${i.id}" th:text="${i.description}">
<!--        Mangler hours til hver role-->

<!--            <option  th:each="i : ${session.roles}" th:value="${i.id}" th:text="${i.description}"-->
<!--                    th:selected="${i.description=='Developer'}"></option>-->
<!--        </select>-->
        <label for="sub_hours">Duration in hours:</label>
        <input type="number" id="sub_hours" name="hours" min="1" max="99">
        <button type="submit"> add subtask</button>
    </form>



    <p>Estimated cost of this task:</p>
    <table class="table">
        <thead class="thead">
        <tr>
            <th>task name:</th>
            <th>hours:</th>
            <th>employee:</th>
            <th>cost:</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="subtask : ${session.subtasks}">
            <td th:text="${subtask.task_name}"></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
<footer th:replace="fragments/footer.html"></footer>
</html>