<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--Ansvarlig: Peter-->

<head th:replace="fragments/head.html(pageTitle = 'Homepage - Projecture')">

<!--</head>-->
<header th:replace="fragments/header.html">
</header>

<div class="bgHomeProjectPage">



<h1 class="currentUser">Logged in as:</h1>

<p class="currentUser" th:text="${session.user.email}" th:unless="${session == null}">[...]</p>
    <hr class="seperationBar">
<div class="projectformbox">
    <!-- input project -->
<form autocomplete='off' class='createProjectForm' th:action="@{/makeproject}" method="POST">
    <div class='control'>
        <h1>
            Create a new project
        </h1>
    </div>
    <div class='control block-cube block-input'>
        <input name="name" type='text' required placeholder="Enter Project Name">
        <div class='bg-top'>
            <div class='bg-inner'></div>
        </div>
        <div class='bg-right'>
            <div class='bg-inner'></div>
        </div>
        <div class='bg'>
            <div class='bg-inner'></div>
        </div>
    </div>
    <div class='control block-cube block-input'>
        <input name="week_duration" type='number' required placeholder="Enter duration in weeks">
        <div class='bg-top'>
            <div class='bg-inner'></div>
        </div>
        <div class='bg-right'>
            <div class='bg-inner'></div>
        </div>
        <div class='bg'>
            <div class='bg-inner'></div>
        </div>
    </div>
    <button class='btn block-cube block-cube-hover' type=submit>
        <div class='bg-top'>
            <div class='bg-inner'></div>
        </div>
        <div class='bg-right'>
            <div class='bg-inner'></div>
        </div>
        <div class='bg'>
            <div class='bg-inner'></div>
        </div>
        <div class='text'>
            Create project
        </div>
    </button>
</form>
</div>

<!-- input project ends -->




<div class="span-2">
    <h2 class="no margin"> Ongoing Projects:</h2>
    <table class="table_home">
        <thead class="thead_home">
        <tr>
            <th> Name:</th>
            <th>Project ID:</th>
            <th>Estimated weeks duration:</th>

        </tr>
        </thead>
        <tbody class="tbody_home">
        <tr th:each="project : ${session.project_list}">
            <td>
                <a class="tproject_name" th:text="${project.getProject_name()}"
                   th:href="|/project/${project.getProjectId()}|"> </a>
            </td>
            <td th:text="${project.getProjectId()}"></td>
            <td th:text="${project.getWeek_duration()}"></td>


        </tr>
        </tbody>
    </table>
</div>

</div>
<body></body>
<footer th:replace="fragments/footer.html"></footer>
</html>