<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(pageTitle = 'LoginPage - Projecture 🎁')">
</head>
<body>

<header class="frontpageheader">
    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main">Projecture</span>
            <span class="heading-primary-sub">Project Management</span>
        </h1>
        <a href="#login/register" class="btn btn-white btn-animated">Get started</a>
    </div>
</header>


<h1>Sign in or register</h1>


<!-- login -->
<form autocomplete='off' id="login/register" class='loginregisterform' action="/login" method="POST">
    <div class='control'>
        <h1>
            Sign In
        </h1>
    </div>
    <div class='control block-cube block-input'>
        <input name="email" placeholder='Email' type='text' required>
        <div class='bg-top'>
            <div class='bg-inner'></div>
        </div>
        <div class='bg-right'>
            <div class='bg-inner'></div>
        </div>
        <div class='bg'>
            <div class='bg-inner'></div>
        </div>
    </div>
    <div class='control block-cube block-input'>
        <input name="password" placeholder='Password' type='password' required>
        <div class='bg-top'>
            <div class='bg-inner'></div>
        </div>
        <div class='bg-right'>
            <div class='bg-inner'></div>
        </div>
        <div class='bg'>
            <div class='bg-inner'></div>
        </div>
    </div>
    <button class='btn block-cube block-cube-hover' type=submit>
        <div class='bg-top'>
            <div class='bg-inner'></div>
        </div>
        <div class='bg-right'>
            <div class='bg-inner'></div>
        </div>
        <div class='bg'>
            <div class='bg-inner'></div>
        </div>
        <div class='text'>
            Log In
        </div>
    </button>
</form>
<!-- login end -->
<br>
<hr>
<br>
<!-- register -->
<form autocomplete='off' class='loginregisterform' action="/register" method="POST">
    <div class='control'>
        <h1>
            Register
        </h1>
    </div>
    <div class='control block-cube block-input'>
        <input name="email" placeholder='Email' type='text' required>
        <div class='bg-top'>
            <div class='bg-inner'></div>
        </div>
        <div class='bg-right'>
            <div class='bg-inner'></div>
        </div>
        <div class='bg'>
            <div class='bg-inner'></div>
        </div>
    </div>
    <div class='control block-cube block-input'>
        <input name="password1" placeholder='Password' type='password' required>
        <div class='bg-top'>
            <div class='bg-inner'></div>
        </div>
        <div class='bg-right'>
            <div class='bg-inner'></div>
        </div>
        <div class='bg'>
            <div class='bg-inner'></div>
        </div>
    </div>
    <div class='control block-cube block-input'>
        <input name="password2" placeholder='Retype Password' type='password' required>
        <div class='bg-top'>
            <div class='bg-inner'></div>
        </div>
        <div class='bg-right'>
            <div class='bg-inner'></div>
        </div>
        <div class='bg'>
            <div class='bg-inner'></div>
        </div>
    </div>
    <button class='btn block-cube block-cube-hover' type=submit>
        <div class='bg-top'>
            <div class='bg-inner'></div>
        </div>
        <div class='bg-right'>
            <div class='bg-inner'></div>
        </div>
        <div class='bg'>
            <div class='bg-inner'></div>
        </div>
        <div class='text'>
            Register
        </div>
    </button>
</form>
<!-- register end -->
</body>

<!-- Site footer -->
<footer th:replace="fragments/footer.html"></footer>
</html>