<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(pageTitle = 'createProject - Projecture ✔')">
</head>
<body>
<h1>Project Creation page</h1>
<div>
    <th>
        Project Name:
    </th>
    <p th:text="${session.name}" th:unless="${session == null}">[...]</p>
    <th>
        Week Duration:
    </th>
    <p th:text="${session.week_duration}" th:unless="${session == null}">[...]</p>
</div>

<h1>Add a new subtask</h1>

<div>
    <form th:action="@{/makesubtask}" method="POST">
        <div class="form-input text-input">
            <label for="sub_name">Subtask name:</label>
            <input type="text" id="sub_name" name="task_name">
        </div>

<!--        //Lav størrelse på input box med CSS -->

        <div>
            <label class="form-labeltext" for="sub_developer_hours">Developer Hours</label>
            <input class="form-inputhours numeric-input" type="number" id="sub_developer_hours" name="developer_hours" >
        </div>
        <div>
            <label class="form-labeltext" for="sub_senior_developer_hours">Senior Developer Hours</label>
            <input class="form-inputhours numeric-input" type="number" id="sub_senior_developer_hours" name="senior_developer_hours" >
        </div>
        <div>
            <label class="form-labeltext" for="sub_designer_hours">Designer Hours</label>
            <input class="form-inputhours numeric-input" type="number" id="sub_designer_hours" name="designer_hours" >
        </div>
        <button type="submit"> add subtask</button>
    </form>



    <h2>Subtasks:</h2>
    <div th:each="subtask : ${session.subtasks}">
        <hr>
        <span th:text="${subtask.task_name}"></span>

        <table class="table_home">
            <thead class="thead_home">
            <tr>
                <th>Employee:</th>
                <th>Hours:</th>
                <th>Cost:</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="subtaskRole : ${subtask.subtaskRoleList}">
                <td th:text="${subtaskRole.RoleDescription}"></td>
                <td th:text="${subtaskRole.Hours}"></td>
                <td th:text="${subtaskRole.FinalPrice}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <form>
        <input type="button" value="Go back to Project overview" onclick="history.back()">
    </form>
</div>
</body>
<footer th:replace="fragments/footer.html"></footer>
</html>